---
import type { CollectionEntry } from "astro:content";
import PostPreview from "../../components/blog/PostPreview.astro";
import Pagination from "../../components/Paginator.astro";
import { getAllPosts, getUniqueTags, groupPostsByYear } from "../../data/post";
import MainLayout from "../../layouts/MainLayout.astro";
import { collectionDateSort } from "../../utils/date";

const MAX_POSTS_PER_PAGE = 10;
const MAX_TAGS = 7;
const MAX_PINNED_POSTS = 3;

export async function getStaticPaths() {
  const MAX_POSTS_PER_PAGE = 10;
  const { getAllPosts } = await import("../../data/post");
  const allPosts = await getAllPosts();
  const totalPages = Math.ceil(allPosts.length / MAX_POSTS_PER_PAGE);
  return [
    { params: { page: undefined } },
    ...Array.from({ length: totalPages - 1 }, (_, i) => ({
      params: { page: String(i + 2) },
    })),
  ];
}

const currentPage = Number(Astro.params.page) || 1;

const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort);
const uniqueTags = getUniqueTags(allPosts).slice(0, MAX_TAGS);
const pinnedPosts = allPostsByDate.filter((p) => p.data.pinned).slice(0, MAX_PINNED_POSTS);

const totalPages = Math.ceil(allPostsByDate.length / MAX_POSTS_PER_PAGE);
const start = (currentPage - 1) * MAX_POSTS_PER_PAGE;
const end = start + MAX_POSTS_PER_PAGE;
const paginatedPosts = allPostsByDate.slice(start, end);

const paginationProps = {
  ...(currentPage > 1 && {
    prevUrl: {
      text: "← Previous Page",
      url: currentPage === 2 ? "/posts/" : `/posts/${currentPage - 1}/`,
    },
  }),
  ...(currentPage < totalPages && {
    nextUrl: {
      text: "Next Page →",
      url: `/posts/${currentPage + 1}/`,
    },
  }),
};

const groupedByYear = groupPostsByYear(paginatedPosts);
const descYearKeys = Object.keys(groupedByYear).sort((a, b) => +b - +a);
---

<MainLayout title="Posts">
  <div class="mb-12 flex items-center gap-3">
    <h1 class="text-xl font-semibold text-zinc-900 dark:text-poi-focus">Posts</h1>
    <a class="text-light-accent dark:text-poi-accent" href="/rss.xml" target="_blank">
      <span class="sr-only">RSS feed</span>
      <svg aria-hidden="true" class="h-5 w-5" fill="none" focusable="false" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 11a9 9 0 0 1 9 9"></path>
        <path d="M4 4a16 16 0 0 1 16 16"></path>
        <circle cx="5" cy="19" r="1"></circle>
      </svg>
    </a>
  </div>
  <div class="grid sm:grid-cols-[3fr_1fr] sm:gap-x-8 sm:gap-y-16">
    <div>
      {
        pinnedPosts.length > 0 && currentPage === 1 && (
          <section class="mb-16">
            <h2 class="mb-6 text-base font-semibold text-zinc-900 dark:text-poi-focus">Pinned Posts</h2>
            <ul class="grid grid-cols-2 gap-4" role="list">
              {pinnedPosts.map((p) => (
                <li>
                  <PostPreview post={p} cardMode={true} />
                </li>
              ))}
            </ul>
          </section>
        )
      }
      {
        descYearKeys.map((yearKey) => (
          <section class="mb-16">
            <h2 class="text-base font-semibold text-zinc-900 dark:text-poi-focus">
              <span class="sr-only">Posts in</span>
              {yearKey}
            </h2>
            <ul class="mt-5 grid grid-cols-2 gap-4">
              {groupedByYear[yearKey]?.map((p) => (
                <li>
                  <PostPreview post={p} cardMode={true} />
                </li>
              ))}
            </ul>
          </section>
        ))
      }
      <Pagination {...paginationProps} />
    </div>
    {
      !!uniqueTags.length && (
        <aside>
          <h2 class="mb-4 flex items-center gap-2 text-base font-semibold text-zinc-900 dark:text-poi-focus">
            Tags
            <svg
              aria-hidden="true"
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h24v24H0z" fill="none" stroke="none" />
              <path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z" />
              <path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116" />
              <path d="M6 9h-.01" />
            </svg>
          </h2>
          <ul class="flex flex-wrap gap-2">
            {uniqueTags.map((tag) => (
              <li>
                <a class="cactus-link flex items-center justify-center" href={`/tags/${tag}/`}>
                  <span aria-hidden="true">#</span>
                  {tag}
                </a>
              </li>
            ))}
          </ul>
          <span class="mt-4 block sm:text-end">
            <a class="hover:text-light-accent dark:hover:text-poi-accent" href="/tags/">
              View all <span aria-hidden="true">→</span>
            </a>
          </span>
        </aside>
      )
    }
  </div>
</MainLayout>
